<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Book Store</title>
    <meta name="keywords" content="Book Store Template, Free CSS Template, CSS Website Layout, CSS, HTML" />
    <meta name="description" content="Book Store Template, Free CSS Template, Download CSS Website" />
    <link href="~/Content/bs/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--  Free CSS Templates from www.templatemo.com -->
    <div id="templatemo_container">
        <div id="templatemo_menu">
            <ul>
                <li><a href="@Url.Action("Index","Book")" class="current">Home</a></li>
                <li><a href="@Url.Action("LoginS","Seller")">Bán sách</a></li>
                <li><a href="@Url.Action("Contact","Book")">Liên hệ</a></li>
                <li><a href="@Url.Action("Contract","Book")">Điều khoản</a></li>
                <li><input type="search" name="searchbook" /><input type="submit" value="Tìm kiếm" /></li>
            </ul>
        </div> <!-- end of menu -->

        <div id="templatemo_header">
            <div id="templatemo_special_offers">
                <p>
                    <span>25%</span> discounts for
                    purchase over $80
                </p>
                <a href="subpage.html" style="margin-left: 50px;">Read more...</a>
            </div>


            <div id="templatemo_new_books">
                <ul>
                    <li>Suspen disse</li>
                    <li>Maece nas metus</li>
                    <li>In sed risus ac feli</li>
                </ul>
                <a href="subpage.html" style="margin-left: 50px;">Read more...</a>
            </div>
        </div> <!-- end of header -->

        <div id="templatemo_content">

            <div id="templatemo_content_left">
                <div class="templatemo_content_left_section">
                    <h1>Người dùng</h1>
                    <ul>
                        @Html.Action("NguoiDung","User")
                        <li><a href="#">Giỏ hàng (0)</a></li>
                    </ul>
                </div>
                <div class="templatemo_content_left_section">
                    <h1>Thể loại</h1>
                    <ul>                        
                        @Html.Action("TheLoai","Book")
                    </ul>
                </div>
                <div class="templatemo_content_left_section">
                    <h1>Nhà xuất bản</h1>
                    <ul>
                        @Html.Action("NXB", "Book")
                    </ul>
                </div>
            </div> <!-- end of content left -->

            <div id="templatemo_content_right">
                @RenderBody()
            </div> <!-- end of content right -->

            <div class="cleaner_with_height">&nbsp;</div>
        </div> <!-- end of content -->

        <div id="templatemo_footer">

            <a href="@Url.Action("Index","Book")">Home</a> | <a href="subpage.html">Search</a> | <a href="subpage.html">Books</a> | <a href="#">New Releases</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
            Copyright © 2048 <a href="https://www.hutech.edu.vn/"><strong>HUTECH</strong></a> | <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent" title="free css templates">Free CSS Templates</a>
        </div>
        <!-- end of footer -->
        <!--  Free CSS Template www.templatemo.com -->
    </div> <!-- end of container -->
    <div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div>
</body>
</html>