@using WebBanSach.Models;

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<h1>Chi tiết sách</h1>

<h2>@Model.TenSach - <span>@Model.TacGia</span></h2>

<div class="image_panel"><img src="~/Images/@Model.AnhBia" alt="CSS Template" width="115" height="170" /></div>

    <h2>Giá bán: @String.Format("{0:0,000}", @Model.GiaBan) VNĐ</h2>

    <ul>
        <li>Số lượng: @Model.Soluong cuốn</li>
        <li>Thể loại: <a href="@Url.Action("SachTheoTL","Book",new { id = Model.MaTL})">@Model.THELOAI.TenTL</a></li>
        <li>Nhà xuất bản: <a href="@Url.Action("SachTheoNXB","Book",new { id = Model.MaNXB})">@Model.NXB.TenNXB</a></li>
        <li>Người bán: <a href="@Url.Action("InfoSeller","Book",new { id = Model.MaNB})">@Model.NGUOIBAN.HoTenNB</a></li>
        <li>Địa chỉ: @Model.NGUOIBAN.DiachiNB</li>
        <li>Ship nội thành:  @String.Format("{0:0,000}", @Model.ShipNoiThanh) VNĐ</li>
        <li>Ship tỉnh:  @String.Format("{0:0,000}", @Model.ShipTinh) VNĐ</li>
    </ul>

    <p>@Model.MoTa</p>
    
    <div class="buy_now_button"><a href="#">Mua hàng</a></div>
    <div class="detail_button"><a href="@Url.Action("AddCart","Cart",new { @iMaSach = @Model.MaSach, @strURL = Request.Url.ToString() })">Thêm giỏ hàng</a></div>


<div class="cleaner_with_height">&nbsp;</div>
