@model IEnumerable<WebBanSach.Models.SACH>

@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@foreach (var sach in Model)
{
    <div class="templatemo_product_box">
        <h1>@Truncate(@sach.TenSach, 15) <span>(@sach.TacGia)</span></h1>
        <img src="~/Content/bs/images/templatemo_image_01.jpg" alt="image" />
        <div class="product_info">
            <p>@Truncate(@sach.MoTa, 55)</p>
            <h3>@String.Format("{0:0,000}", @sach.GiaBan)  VNĐ</h3>
            <div class="buy_now_button"><a href="#">Thêm</a></div>
            <div class="detail_button"><a href="@Url.Action("Detail","Book",new { id = sach.MaSach})">Chi tiết</a></div>
        </div>
        <div class="cleaner">&nbsp;</div>
    </div>
}

