@using WebBanSach.Models;

@{
    ViewBag.Title = "TTCN";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Thông tin cá nhân</h1>

<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>Họ tên: </td>
            <td>
                @Model.HoTen
                @ViewData["loi1"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Tài khoản: </td>
            <td>
                @Model.TaiKhoan
                @ViewData["loi2"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Email: </td>
            <td>
                @Model.Email
                @ViewData["loi5"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Địa chỉ: </td>
            <td>
                @Model.DiaChi
                @ViewData["loidc"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Điện thoại: </td>
            <td>
                @Model.DienThoai
                @ViewData["loi6"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Ngày sinh: </td>
            <td>
                @Model.NgaySinh
                @ViewData["loi7"]
            </td>
        </tr>
    }

</table>

