@model IEnumerable<WebBanSach.Models.DONHANG>

@{
    ViewBag.Title = "XemDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>DANH SÁCH ĐƠN HÀNG</h2>

<table class="table">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Ngày Giao
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Thanh toán
        </th>
        <th>
            Giao hàng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaDH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KHACHHANG.HoTen)
        </td>
        <td>
            Chưa thanh toán
        </td>
        <td>
            Chưa giao hàng
        </td>
        <td>
            @Html.ActionLink("Chi tiết đơn hàng", "CTDH", new { id = item.MaDH }) 
        </td>
    </tr>
}

</table>
