
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Đăng nhập người bán</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/formAD/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/formAD/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/formAD/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/formAD/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/formAD/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/formAD/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/formAD/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/formAD/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/formAD/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/formAD/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                    <span class="login100-form-title">
                        ĐĂNG NHẬP NGƯỜI BÁN
                    </span>

                    <h4 style="color:red; text-align:center">@ViewBag.Mess</h4>

                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                            <input class="input100" type="text" name="username" placeholder="Username">
                            <span class="focus-input100"></span>
                        </div>
                        @ViewData["Er1"]

                        <div class="wrap-input100 validate-input" data-validate="Please enter password">
                            <input class="input100" type="password" name="pass" placeholder="Password">
                            <span class="focus-input100"></span>
                        </div>
                        @ViewData["Er2"]


                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit">
                                Đăng nhập
                            </button>
                        </div>

                        <div class="flex-col-c p-t-170 p-b-40">
                            <span class="txt1 p-b-9">
                                Hoặc
                            </span>

                            <a href="@Url.Action("DangKyS","Seller")" class="txt3">
                                Đăng kí tài khoản
                            </a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="~/Content/formAD/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/formAD/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/formAD/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/formAD/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/formAD/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/formAD/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/formAD/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/formAD/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/formAD/js/main.js"></script>

</body>
</html>

</html>
